<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view has-bouncing="true"
          ng-controller="ActivityDetailController">

    <ion-nav-title>{{data.activity.title}}</ion-nav-title>

    <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-clear"-->
    <!--ng-if="data.alreadySignedUp">-->
    <!--已报名-->
    <!--</button>-->
    <!--</ion-nav-buttons>-->

    <ion-nav-buttons side="right">
        <button ng-click="startActivity()"
                class="button button-icon mdi-maps-my-location">
        </button>
    </ion-nav-buttons>

    <ion-content delegate-handle="activityScroll">

        <ion-refresher
            pulling-text="刷新"
            on-refresh="refresh(1)">
        </ion-refresher>

        <ion-list>
            <fh-special-affect-avatar src="img/default-avatar.jpeg" scroll-handle="activityScroll">
            </fh-special-affect-avatar>

            <ion-list>
                <ion-item class="red lighten-1 white-text"
                          ng-if="!data.loading"
                          style="font-size: 22px; padding: 22px; border: 0; margin-bottom: -2px;">
                    {{data.activity.description || '(发起者比较懒，什么都没写...'}}
                </ion-item>
            </ion-list>

            <ion-list>

                <div class="row" style="margin-bottom:0; padding: 0">
                    <ion-item class="item-icon-left col-50" style="border:0">
                        <i class="icon mdi-device-access-time yellow-text text-darken-4"></i>
                        {{data.activity.status ? getTimeDesc(data.activity.timeLocations[0].time.start_time) : '未确定'}}
                    </ion-item>
                    <ion-item class="item-icon-left col-50" style="border:0">
                        <i class="icon mdi-device-access-time yellow-text text-darken-4"></i>
                        {{data.activity.status ? getTimeDesc(data.activity.timeLocations[0].time.end_time) : '未确定'}}
                    </ion-item>
                </div>
                <ion-item class="item-icon-left col-100"
                          ng-click="navigate()"
                          style="border:0">
                    <i class="icon mdi-maps-place yellow-text text-darken-4"></i>
                    {{data.activity.status ? data.activity.timeLocations[0].location.place : '未确定'}}
                </ion-item>

                <ion-item class="waves-effect yellow-text text-darken-4"
                          ng-if="data.activity.status == 0"
                          ui-sref="time-location({id: data.id})"
                          style="border-top: 0;">
                    查看或添加其它时间地点
                </ion-item>

                <ion-item class="item-icon-left"
                          style="border-bottom: 0">
                    <i class="icon mdi-device-access-time yellow-text text-darken-4"></i>
                    {{data.activity.status == 0 ? getTimeDesc(data.activity.deadline) + ' 报名截止' : ''}}
                    {{data.activity.status == 1 ? '报名已经截止了哟~ 活动即将开始' : ''}}
                    {{data.activity.status == 2 ? '活动进行中！' : ''}}
                    {{data.activity.status == 3 ? '已经结束了' : ''}}
                </ion-item>

                <ion-item class="yellow-text text-darken-4"
                          ng-if="data.activity.status == 0 && isInvited()"
                          ng-click="acceptRequest()"
                          style="border-top: 0;">
                    接受活动邀请
                </ion-item>

                <ion-item class="yellow-text text-darken-4"
                          ng-if="data.activity.status == 0 && isInvited()"
                          ng-click="rejectRequest()"
                          style="border-top: 0;">
                    拒绝活动邀请
                </ion-item>


                <ion-item class="yellow-text text-darken-4">
                    添加图片
                </ion-item>

                <ion-item class="yellow-text text-darken-4"
                          ng-if="data.activity.status == 0 && canInvite()"
                          ui-sref="activity-invite({id: data.id})"
                          style="border-top: 0;">
                    邀请朋友参加
                </ion-item>

                <ion-item
                    ng-repeat="invite in data.activity.invites"
                    ui-sref="user-info({id: invite.user_id})"
                    class="item-avatar-left">
                    <img src="img/default-avatar.jpeg">
                    <h2>
                        {{userService.getCachedUser(invite.user_id).username || '还不是好友的某人'}}
                    </h2>
                    <p>
                        {{}}
                        {{invite.invite_status == 0 ? '已被邀请' : ''}}
                        {{invite.invite_status == 1 ? (invite.user_id == data.activity.organizer_id ? '组织者 ' : '已参加') :
                        '' }}
                        {{invite.invite_status == -1 ? '残忍拒绝...' : ''}}
                    </p>
                </ion-item>

            </ion-list>

            <ion-list>
            </ion-list>


        </ion-list>





    </ion-content>
</ion-view>
