<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view has-bouncing="true"
          ng-controller="ActivityDetailController">

    <ion-nav-title>{{data.loading ? "活动加载中..." : data.activity.title}}</ion-nav-title>

    <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-clear"-->
    <!--ng-if="data.alreadySignedUp">-->
    <!--已报名-->
    <!--</button>-->
    <!--</ion-nav-buttons>-->

    <ion-content delegate-handle="activityScroll">

        <ion-list>
            <fh-special-affect-avatar src="img/default-avatar.jpeg" scroll-handle="activityScroll">
            </fh-special-affect-avatar>

            <ion-list>
                <ion-item class="red lighten-1 white-text"
                          style="font-size: 22px; padding: 22px; border: 0; margin-bottom: -2px;">
                    test
                </ion-item>
            </ion-list>

            <ion-list>

                <div class="row" style="margin-bottom:0; padding: 0">
                    <ion-item class="item-icon-left col-50" style="border:0">
                        <i class="icon mdi-device-access-time yellow-text text-darken-4"></i>
                        9:30
                    </ion-item>
                    <ion-item class="item-icon-left col-50" style="border:0">
                        <i class="icon mdi-maps-place yellow-text text-darken-4"></i>
                        上海
                    </ion-item>
                </div>

                <ion-item class="waves-effect yellow-text text-darken-4"
                          style="border-top: 0;">
                    查看或添加其它时间地点
                </ion-item>

                <ion-item class="item-icon-left" style="border-bottom: 0">
                    <i class="icon mdi-device-access-time yellow-text text-darken-4"></i>
                    {{getTimeDesc(data.activity.deadline)}} 报名截止
                </ion-item>

                <ion-item class="waves-effect yellow-text text-darken-4"
                          style="border-top: 0;">
                    我要报名活动
                </ion-item>


                <ion-item class="waves-effect yellow-text text-darken-4">
                    添加图片
                </ion-item>

                <ion-item class="waves-effect yellow-text text-darken-4"
                          style="border-top: 0;">
                    邀请朋友参加
                </ion-item>

                <ion-item
                    ng-repeat="invite in data.activity.invites"
                    class="item-avatar-left">
                    <img src="img/default-avatar.jpeg">

                    <h2>
                        {{invite.user_id}}
                    </h2>

                    <p>
                        {{invite.invite_status == 0 ? '已被邀请' : ''}}
                        {{invite.invite_status == 1 ? '已参加' : ''}}
                        {{invite.invite_status == -1 ? '残忍拒绝...' : ''}}
                    </p>
                </ion-item>

            </ion-list>

            <ion-list>
            </ion-list>


        </ion-list>





    </ion-content>
</ion-view>
