<ion-modal-view>
    <ion-header-bar class="nav-title-slide-ios7 bar-positive">
        <h1 class="title">确认报名参加</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeSignup()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div>

            <ion-list>
                <!--<ion-item style="text-align: center">-->
                <!--<img ly-src="{{data.event_pic}}">-->
                <!--</ion-item>-->

                <ion-item style="white-space: normal;">
                    <div style="text-align: left;width: 100%;font-weight: bold;margin-bottom:6px;">
                        您确定要报名本次活动吗？
                    </div>
                    <div style="font-size: 10px;margin-left: 10px;margin-right: 10px;">
                        <ul class="list-unstyled">
                            <li>
                                本活动持续时间为<span
                                style="font-weight: bold;color:green">{{data.hours}}</span>小时，完成本次活动，您可以得到
                                小时数*评分(1~5)*10 点积分。
                                <br>即：若您在本次活动中得到<span
                                style="font-weight: bold;color:orangered">5</span>分评分，您可得到<span
                                style="font-weight: bold;color:green">{{data.hours}}</span>
                                * <span style="font-weight: bold;color:orangered">5</span> * 10 =
                                <b>{{data.hours*50}}</b> 点积分，若得到<span
                                style="font-weight: bold;color:orangered">4</span>分评分，您可得到<span
                                style="font-weight: bold;color:green">{{data.hours}}</span>
                                * <span style="font-weight: bold;color:orangered">4</span> * 10 =
                                <b>{{data.hours*40}}</b> 点积分，以此类推。
                            </li>
                            <li>
                                本活动报名截止时间为<b>{{data.signupDeadline}}</b>，您报名后，在此时间点之前可“临时取消”，但会扣除<span
                                style="font-weight: bold;color:orangered">10</span>点积分。
                            </li>
                            <li>
                                若您报名了活动，没有临时取消，却没参加活动，视为缺席，每次扣除<span
                                style="font-weight: bold;color:orangered">50</span>点积分作为惩罚，且将会影响您的出勤率。
                            </li>
                        </ul>
                    </div>

                </ion-item>

                <ion-item class="item-icon-left">

                    <i class="icon ion-calendar"></i>
                    时间：
                    {{data.datetime}}
                </ion-item>


                <ion-item class="item-icon-left item-text-wrap">
                    <i class="icon ion-location"></i>
                    地点：
                    {{data.location}}
                </ion-item>

            </ion-list>
            <ion-list>
                <ion-item class="ly-no-border-bottom">
                    <button class="button ion-star icon-left button-positive button-block"
                            ng-click="signupEvent()">
                        确定报名
                    </button>
                    <button class="button ion-android-cancel icon-left button-clam button-block"
                            ng-click="closeSignup()">
                        返回
                    </button>
                </ion-item>
            </ion-list>

        </div>
    </ion-content>
</ion-modal-view>
