.fh-has-sub-header ion-header-bar, .nav-bar-block[nav-bar='cached'] ion-header-bar {
  box-shadow: none;
  -webkit-box-shadow: none;
}

ion-tabs > .tabs {
  top: 56px;
}

ul.tabs, .tab-nav.tabs {
  border: 0 !important;
  padding: 0 !important;
}

hr {
  margin: 1px;
  padding: 0;
  border-top: 0;
}

.side-nav a.item-content {
  padding: 0 15px;

  i {
    color: rgba(0, 0, 0, .54);
  }
}

.item h2 {
  line-height: inherit;
}

.text-white h2 {
  color: #FFF;
}

.text-white p {
  color: rgba(255, 255, 255, .54);
}

input[type=text],
input[type=tel],
input[type=password] {
  height: 1.8rem;
  margin-bottom: 0;
}

.popup-head {
  border-bottom: 0;
}

.input-field label {
  left: 0.4rem;
}

.popup {
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;;

  position: absolute;
  top: 20%;
  left: 5%;
  width: 90% !important;
}

.fh-keyboard-open .popup {
  top: 20px;
}

.popup-container .popup {
  background-color: transparent;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.44);
}

.bar .button.back-button {
  margin-left: 16px;
  margin-top: 10px;
}

.bar .back-button ~ .title {
  padding-left: 12px;
}

.input-field {
  margin-top: 1.5rem;
}

ion-content.has-footer > div.scroll {
  margin-bottom: 56px;
}

.hide-scroll-bar .scroll-bar-indicator {
  display: none;
}

.fh-se-avatar-container {
  width: 100%;
  position: relative;
  top: 10px;

  img {
    width: 100%;
    position: relative;
  }

  ~ * {
    position: relative;
    background-color: #FFF;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.collection .collection-item.avatar {
  height: 64px;
  width: 100%;

  .big-title {
    font-size: 16px;
    line-height: 42px;
  }
}

.has-subheader {
  top: 102px;
}

.tabs .tab a {
  font-size: 16px;
}

.card .card-image {
  line-height: 0;

  .card-title {
    line-height: 16px;
  }
}

ion-header-bar.clear-style {
  background: none;
  box-shadow: inset 0px 28px 56px -28px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0px 28px 56px -28px rgba(0, 0, 0, 0.8);
}

ion-item.waves-effect {
  width: 100%;
}
