<ion-view view-title="注册 复旦Hangout"
          ng-controller="RegisterController as ctrl">

    <ion-content>

        <ion-item style="border-bottom: 0; padding: 40px">
            <div class="input-field col s12">
                <input id="reg-phone" type="tel" ng-model="data.phone">
                <label for="reg-phone">手机号</label>
            </div>

            <div class="input-field col s12">
                <input id="reg-name" type="text" ng-model="data.name">
                <label for="reg-name">用户名</label>
            </div>

            <div class="input-field col s12">
                <input id="password" type="password" ng-model="data.password">
                <label for="password">密码</label>
            </div>

        </ion-item>
    </ion-content>

    <ion-footer-bar align-title="left"
                    style="height: 56px; border-top-width: 0"
                    class="bar-stable">
        <div class="buttons">
        </div>
        <h1 class="title"></h1>

        <div class="buttons">
            <button class="button button-clear"
                    style="margin-right: 25px;  padding-top: 8px;"
                    ng-click="register()">
                <i class="icon ion-ios-arrow-forward"
                   style="float: right; padding-left: 10px">
                </i>
                注册
            </button>
        </div>
    </ion-footer-bar>

</ion-view>
