<ion-view cache-view="false"
          ng-controller="ValidateCodeController">

    <ion-nav-title>{{data.title}}</ion-nav-title>

    <ion-content class="padding">
        <div class="list list-inset">

            <div class="item item-divider">
                {{data.subtitle}}
            </div>

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text"
                           ng-model="data.secCode"
                           title="验证码"
                           placeholder="验证码"
                           ly-auto-focus>
                </label>
                <button ng-class=" 'button button-small ' + (data.canResend ? 'button-positive' : 'button-light') "
                        ng-click="resend()">
                    重新发送 <span ng-if="data.countdown">({{data.countdown}}s)</span>
                </button>
            </div>

        </div>
        <button class="button button-block button-positive ion-check icon-left"
                ng-click="validate(data.secCode)">
            {{data.actionName}}
        </button>
    </ion-content>

</ion-view>
