<div class="card white">
    <div class="card-content" style="margin-top: 5px">
        <div class="input-field col s12">
            <input id="phone" type="tel" ng-model="data.phone">
            <label for="phone">手机号</label>
        </div>
        <div class="input-field col s12">
            <input id="password" type="password" ng-model="data.password">
            <label for="password">密码</label>
        </div>
    </div>
    <div style="float: right; padding: 0 10px 10px 0">
        <a class="waves-effect btn-flat grey-text"
           ng-click="doRegister()">
            注册
        </a>
        <a class="waves-effect btn-flat red-text text-accent-2"
           ng-click="doLogin()">
            登录
        </a>
    </div>
</div>
