<ion-view ng-controller="AddFriendRequestsController">

    <ion-nav-title>新朋友</ion-nav-title>

    <ion-content>
        <ion-list>

            <ion-refresher
                pulling-text="刷新"
                on-refresh="refresh(1)">
            </ion-refresher>

            <ion-item class="item-divider"
                      ng-if="data.incomingRequests.length">
                来自其他人的请求
            </ion-item>

            <ion-item ng-repeat="request in data.incomingRequests"
                      class="item-avatar-left"
                      ng-click="handleRequest(request)">
                <img ly-src="{{::request.image_url}}">

                <h2>{{::request.name}}</h2>

                <p>{{::request.message}}</p>
            </ion-item>

            <ion-item class="item-divider"
                      ng-if="data.outgoingRequests.length">
                我的请求
            </ion-item>

            <ion-item ng-repeat="request in data.outgoingRequests"
                      class="item-avatar-left"
                      ng-click="cancelRequest(request)">
                <img ly-src="{{::request.image_url}}">

                <h2>{{::request.name}}</h2>

                <p>{{::request.message}}</p>
            </ion-item>

            <ion-item ng-if="!data.incommingRequest.lenght && !data.outgoingRequests.length">
                还没有好友请求哦
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>