<ion-view ng-controller="ChangePasswordController"
          cache-view="false">
    <ion-content>

        <ion-nav-title>修改密码</ion-nav-title>

        <ion-list>
            <ion-item class="item-divider"></ion-item>

            <ion-item class="item-input">
                <input type="password"
                       ng-model="data.originPassword"
                       placeholder="原密码"
                       ly-auto-focus>
            </ion-item>

            <ion-item class="item-input">
                <input type="password"
                       ng-model="data.newPassword"
                       placeholder="新密码">
            </ion-item>

            <ion-item class="item-input">
                <input type="password"
                       ng-model="data.passwordRepeat"
                       placeholder="重复新密码">
            </ion-item>


            <ion-item class="ly-no-border-bottom">
                <button class="button button-positive button-block icon-left ion-key"
                        ng-click="changePassword()">
                    修改密码
                </button>
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>
