<ion-view cache-view="false"
          hide-nav-bar="true"
          class="hide-scroll-bar"
          ng-controller="UserInfoController">

    <ion-header-bar align-title="left" class="bar-positive"
                    style="box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.2), 0 25px 55px 0 rgba(0, 0, 0, 0.22);">
        <button class="button button-icon icon ion-android-arrow-back waves-effect waves-light"
                style="margin-left: 5px; border-radius: 50%"
                ng-click="goBack()">
        </button>
        <h1 class="title">{{data.user.username}}</h1>
    </ion-header-bar>

    <ion-content delegate-handle="mainScroll">

        <fh-special-affect-avatar src="img/default-avatar.jpeg" scroll-handle="mainScroll">
        </fh-special-affect-avatar>

        <div style="box-shadow: 0 -16px 28px 0 rgba(0, 0, 0, 0.2), 0 25px 55px 0 rgba(0, 0, 0, 0.22); ">
            <div class="card collection"
                 style="margin: 8px">

                <div class="collection-item avatar waves-effect"
                     ng-click="tryEditProfile()">
                    <i class="mdi-editor-border-color circle"
                       ng-class="accountService.userInfo.id == data.user.id ? 'red' : ''">
                    </i>
                    <span class="title">个人签名</span>

                    <p>{{data.user.signature || '(还没有...)'}}</p>
                </div>

                <div class="collection-item avatar waves-effect">
                    <i class="mdi-maps-local-phone circle blue"></i>
                    <span class="title">手机</span>

                    <p>{{data.user.phone}}</p>
                </div>

                <div class="collection-item avatar waves-effect"
                     ng-click="removeFriend()"
                     ng-if="data.user.is_my_friend == 0">
                    <i class="mdi-navigation-close circle red"></i>
                    <span class="big-title">删除好友</span>
                </div>

                <div class="collection-item avatar waves-effect"
                     ng-click="addFriend()"
                     ng-if="data.user.is_my_friend == 3">
                    <i class="mdi-social-person-add circle red"></i>
                    <span class="big-title">请求添加为好友</span>
                </div>

                <div class="collection-item avatar waves-effect"
                     ng-if="data.user.is_my_friend == 1">
                    <i class="mdi-social-person-add circle light-green"></i>
                    <span class="big-title">已发送好友请求</span>
                </div>

                <div class="collection-item avatar waves-effect"
                     ng-click="acceptFriend()"
                     ng-if="data.user.is_my_friend == 2">
                    <i class="mdi-social-person-add circle red"></i>
                    <span class="big-title">接受对方的好友请求</span>
                </div>

                <div class="collection-item avatar waves-effect"
                     ng-click="rejectFriend()"
                     ng-if="data.user.is_my_friend == 2">
                    <i class="mdi-navigation-close circle red"></i>
                    <span class="big-title">拒绝对方的好友请求</span>
                </div>

            </div>
        </div>
    </ion-content>

</ion-view>