<ion-view view-title="编辑个人签名"
          cache-view="false"
          ng-controller="ProfileEditController">

    <ion-nav-buttons side="right">
        <button class="button button-icon mdi-action-done waves-effect waves-light"
                ng-click="doEdit()"
                style="border-radius: 50%">
        </button>
    </ion-nav-buttons>

    <ion-content>

        <ion-item style="border-bottom: 0; padding: 34px">
            <input type="text"
                   style="font-size: 20px; line-height: 34px; height: 34px"
                   ng-model="data.signature"
                   placeholder="写点什么吧~"
                   fh-auto-focus>
        </ion-item>

    </ion-content>

</ion-view>