<ion-view ng-controller="SearchFriendController"
          hide-nav-bar="true">

    <ion-nav-title>
    </ion-nav-title>

    <ion-header-bar align-title="left" class="bar-light">

        <button class="button button-icon icon ion-android-arrow-back waves-effect waves-light"
                style="margin-left: 5px; border-radius: 50%"
                ng-click="goBack()">
        </button>

        <div class="h1 title" style="margin-top:14px">
            <input id="search-text"
                   type="search"
                   ng-model="data.searchText"
                   ng-change="doSearch()"
                   placeholder="手机号/用户名"
                   fh-auto-focus>
        </div>

        <button class="button button-icon icon ion-android-close"
                ng-click="clearText()">
        </button>

    </ion-header-bar>

    <ion-content>

        <ion-list ng-if="data.searchText">
            <ion-item ng-if="data.loading">
                努力搜索中...
            </ion-item>

            <ion-item ng-if="!data.loading"
                      ng-repeat="user in data.users"
                      ui-sref="user-info({id: user.id })"
                      class="item-avatar-left">
                <img src="img/default-avatar.jpeg">

                <h2>{{user.username}}</h2>

                <p>{{user.signature}}</p>

            </ion-item>

            <ion-item ng-if="!data.loading && !data.users">
                没有找到用户T T
            </ion-item>
        </ion-list>

        <ion-list ng-if="!data.searchText">

            <ion-item class="item-divider-android">

            </ion-item>

            <ion-item class="item-icon-left"
                      ui-sref="search-contact">
                <i class="icon mdi-communication-contacts"></i>
                添加手机通讯录中的好友
            </ion-item>

        </ion-list>
    </ion-content>

</ion-view>