<ion-view ng-controller="MessageListController">

    <ion-nav-title>{{data.unread ? '未读' : '已读'}}站内信</ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-clear"
                ui-sref="message-list({unread: 0})"
                ng-if="data.unread">
            已读消息
        </button>
    </ion-nav-buttons>

    <ion-content>

        <ion-refresher
            pulling-text="刷新"
            on-refresh="refresh(1)">
        </ion-refresher>

        <ion-list>
            <ion-item ng-repeat="message in data.msg"
                      class="item-avatar"
                      ng-click="readMessage(message)">

                <ion-delete-button class="ion-minus-circled"></ion-delete-button>

                <img ly-src="{{message.sender.image_url}}">

                <h2>
                    {{message.topic}}
                </h2>

                <p>
                    来自 {{message.sender.name}}
                    <span class="ly-value">
                        {{message.datetime}}
                    </span>
                    <br>

                <p bind-html-compile="message.content | remove-img"></p>
            </ion-item>

            <ion-item ng-if="!data.msg.length && !loading" style="text-align: center;color: #808080;font-size: 11px">
                您没有{{data.unread ? '未读' : '已读'}}站内信...
            </ion-item>
        </ion-list>

    </ion-content>

</ion-view>