<ion-view ng-controller="SettingController">

    <ion-nav-title>设置</ion-nav-title>

    <ion-nav-buttons side="right">
        <button class="button button-clear">
        </button>
    </ion-nav-buttons>

    <ion-content>


        <ion-list>

            <ion-item style="border-bottom: 0"
                      ng-if="accountService.loggedIn()">
                <button class="button button-block button-assertive z-depth-1"
                        ng-click="logout()">
                    退出登录
                </button>
            </ion-item>

            <ion-item style="border-bottom: 0" ng-if="!accountService.loggedIn()">
                暂时什么都没有...
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>